name: run linter, unit tests, dependency check on each commit

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.23

    - name: Install dependencies
      run: |
        sudo apt-get update

    - name: Run unit tests
      run: make test

    - name: Run linter
      run: make lint

  license_finder:
    uses: ./.github/workflows/license_finder.yml
